.rePassword1{
    position: relative;
    padding-top: 60px;
    margin: auto;
    margin-top: 150px;
    width: 600px;
    height: 400px;
    background-color: whitesmoke;
}

.repTitle{
    position: absolute;
    top: 0;
    left: 29%;
    text-align: center;
}

.oPwd{
    position: absolute;
    top: 30%;
    left: 28.5%;
}

.rPwd{
    position: absolute;
    top: 45%;
    left: 28.5%;
}

.tPwd{
    position: absolute;
    top: 60%;
    left: 26%;
}

.input_button{
    position: absolute;
    top: 85%;
    left: 70%;
}

#back1{
    position: absolute;
    top: 85%;
    left: 30%;
}